<app-navbar></app-navbar>

<div class="h-[100vh]" id="home" style="background: url(//picsum.photos/1440) no-repeat fixed;">
    <div class="flex justify-center items-center w-full h-full bg-[#22222285]">
        <div class="w-1/2 min-w-[500px] text-white">
            <h1 class="text-4xl mb-4 font-bold font-serif">Home</h1>
            <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit incidunt quidem dolore illo saepe maxime nihil exercitationem laborum.</p>
        </div>
    </div>
</div>

<div class="h-[100vh] bg-teal-50" id="mission">
    <div class="flex p-8 w-full h-full items-center">
        <div class="w-3/5 p-4">
            <h2 class="text-2xl font-bold font-serif">Our Mission</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste nesciunt sapiente laborum? Iusto, dolor natus aperiam porro impedit expedita vero, velit eaque eveniet accusantium voluptate assumenda veritatis commodi adipisci eligendi.</p>
        </div>
        <div class="w-2/5">
            <div class="w-2/3 flex flex-col gap-2">
                <img src="//picsum.photos/800/400" alt="" class="w-full block">
                <div class="flex gap-2">
                    <img src="//picsum.photos/400" alt="" class="w-1/2">
                    <img src="//picsum.photos/401" alt="" class="w-1/2">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white text-center py-12" id="leaders">
    <h2 class="text-2xl font-bold my-8">Meet our Leaders</h2>
    <p class="mb-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus corporis</p>
    <div class="my-12 flex gap-4">
        <div>
            <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Wayfarers&hairColor=BlondeGolden&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=GraphicShirt&clotheColor=PastelOrange&graphicType=Selena&eyeType=Hearts&eyebrowType=UnibrowNatural&mouthType=Default&skinColor=Brown" alt="" class="w-2/4 mx-auto h-auto rounded-full mb-4">
            <h3 class="text-xl">Ernest T. Payne</h3>
            <h4>CEO</h4>
            <div class="flex justify-center">
                <span class="bi bi-linkedin cursor-pointer"></span>
                <span class="bi bi-twitter mx-3 cursor-pointer"></span>
                <span class="bi bi-instagram cursor-pointer"></span>
            </div>
        </div>
        <div>
            <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Wayfarers&hairColor=Blonde&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=ShirtScoopNeck&clotheColor=Gray01&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Grimace&skinColor=Brown" alt="" class="w-2/4 mx-auto h-auto rounded-full mb-4">
            <h3 class="text-xl">Jason D. Mendez</h3>
            <h4>CTO</h4>
            <div class="flex justify-center">
                <span class="bi bi-linkedin cursor-pointer"></span>
                <span class="bi bi-twitter mx-3 cursor-pointer"></span>
                <span class="bi bi-instagram cursor-pointer"></span>
            </div>
        </div>
        <div>
            <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortWaved&accessoriesType=Kurt&hairColor=Blue&facialHairType=MoustacheFancy&facialHairColor=BlondeGolden&clotheType=Hoodie&clotheColor=Gray02&eyeType=EyeRoll&eyebrowType=RaisedExcited&mouthType=Serious&skinColor=Tanned" alt="" class="w-2/4 mx-auto h-auto rounded-full mb-4">
            <h3 class="text-xl">Elmer T. Lawrence</h3>
            <h4>Tech Lead</h4>
            <div class="flex justify-center">
                <span class="bi bi-linkedin cursor-pointer"></span>
                <span class="bi bi-twitter mx-3 cursor-pointer"></span>
                <span class="bi bi-instagram cursor-pointer"></span>
            </div>
        </div>
        <div>
            <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light" alt="" class="w-2/4 mx-auto h-auto rounded-full mb-4">
            <h3 class="text-xl">Jenna G. Johnson</h3>
            <h4>Marketing Lead</h4>
            <div class="flex justify-center">
                <span class="bi bi-linkedin cursor-pointer"></span>
                <span class="bi bi-twitter mx-3 cursor-pointer"></span>
                <span class="bi bi-instagram cursor-pointer"></span>
            </div>
        </div>
    </div>
    <a href="/" class="inline-block bg-teal-500 border border-teal-500 text-white py-2 px-5">Meet the Team</a>
</div>

<div class="h-[100vh] py-12" id="testimonials">
    <div class="w-3/4 mx-auto my-8">
        <h2 class="text-3xl text-center font-bold mb-4">Testimonials</h2>
        <p class="mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, dolorum iure. Architecto commodi laborum necessitatibus eaque blanditiis voluptates explicabo quam cumque nulla?</p>
        <div class="flex gap-3">
            <div class="max-w-1/5 w-full" *ngFor="let val of [].constructor(5); let i = index">
                <q class="text-[12px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima libero inventore, vero vel nesciunt omnis voluptas expedita voluptate architecto.</q>
                <h3 class="text-sm font-bold">{{['Derek J. Na', 'Diane T. Dick', 'Amy R. Finnegan', 'Maria G. Aguilar', 'Johnathon K. Moses'][i]}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="bg-teal-900 text-white py-20" id="contact">
    <div class="mx-12 flex">
        <div class="w-1/2">
            <div class="w-2/3 mx-auto">
                <h2 class="font-bold font-serif text-2xl mb-4">Mean Project</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vitae dolores praesentium doloribus at, qui unde? Aliquam ex temporibus magnam eos, dolore atque velit corrupti rerum, similique quae tempore quis?</p>
    
                <div class="flex justify-between">
                    <span class="bi cursor-pointer p-2 bi-envelope"></span>
                    <span class="bi cursor-pointer p-2 bi-telephone"></span>
                    <span class="bi cursor-pointer p-2 bi-facebook"></span>
                    <span class="bi cursor-pointer p-2 bi-twitter"></span>
                    <span class="bi cursor-pointer p-2 bi-youtube"></span>
                    <span class="bi cursor-pointer p-2 bi-linkedin"></span>
                </div>
            </div>
        </div>
        <div class="w-1/2">
            <div class="w-2/3 mx-auto flex">
                <div class="flex-auto">
                    <h4 class="text-xl font-bold font-serif">Products</h4>
                    <nav class="flex flex-col gap-3 mt-3">
                        <a class="text-sm" href="#">Product 1</a>
                        <a class="text-sm" href="#">Product 2</a>
                        <a class="text-sm" href="#">Product 3</a>
                        <a class="text-sm" href="#">Product 4</a>
                    </nav>
                </div>
                <div class="flex-auto">
                    <h4 class="text-xl font-bold font-serif">Services</h4>
                    <nav class="flex flex-col gap-3 mt-3">
                        <a class="text-sm" href="#">Service 1</a>
                        <a class="text-sm" href="#">Service 2</a>
                        <a class="text-sm" href="#">Service 3</a>
                        <a class="text-sm" href="#">Service 4</a>
                    </nav>
                </div>
                <div class="flex-auto">
                    <h4 class="text-xl font-bold font-serif">Resources</h4>
                    <nav class="flex flex-col gap-3 mt-3">
                        <a class="text-sm" href="#">News</a>
                        <a class="text-sm" href="#">Pricing</a>
                        <a class="text-sm" href="#">Videos</a>
                        <a class="text-sm" href="#">FAQs</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center py-3 bg-white text-sm">
    &copy;{{ now | date : 'Y' }}. All rights reserved.
</div>