<div class="flex sticky top-0 left-0 right-0 bg-white p-2 shadow-md">
    <div class="flex-1">
        <a class="ml-8 py-2 px-4 inline-block" href="/">Mean Project</a>
    </div>
    <div class="flex-1">
        <nav class="flex items-center justify-center text-sm">
            <a href="#home" class="mx-1 py-2 px-4 text-gray-600 hover:underline hover:text-black">Home</a>
            <a href="#mission" class="mx-1 py-2 px-4 text-gray-600 hover:underline hover:text-black">Mission</a>
            <a href="#leaders" class="mx-1 py-2 px-4 text-gray-600 hover:underline hover:text-black">Leaders</a>
            <a href="#testimonials" class="mx-1 py-2 px-4 text-gray-600 hover:underline hover:text-black">Testimonials</a>
            <a href="#contact" class="mx-1 py-2 px-4 text-gray-600 hover:underline hover:text-black">Contact</a>
        </nav>
    </div>
    <div class="flex-1 text-end">
        <a routerLink="/auth/login" class="inline-block text-sm py-2 px-4 border border-teal-500 text-teal-500 hover:bg-teal-500 hover:text-white font-bold">Login</a>
        <a routerLink="/auth/signup" class="inline-block text-sm py-2 px-4 border border-teal-500 bg-teal-500 text-white font-bold hover:bg-teal-700 hover:border-teal-700">Sign Up</a>
    </div>
</div>